NEXT_PUBLIC_SUPABASE_URL=https://hspvkxjpxahcpepnuhfp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhzcHZreGpweGFoY3BlcG51aGZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1OTA1MjksImV4cCI6MjEwMzE2NjUyOX0.cbzCpU8kLKypbXIFgDDK2aiHyGW8HGKHzUVF3WkfjAs